[submodule "grpc"]
	path = grpc
	url = https://github.com/CynicDog/grpc.git
[submodule "istio"]
	path = istio
	url = https://github.com/CynicDog/istio.git
[submodule "elixir-grpc"]
	path = elixir-grpc
	url = https://github.com/CynicDog/elixir-grpc.git
[submodule "logs-and-telemtry-using-fluent-bit"]
	path = logs-and-telemtry-using-fluent-bit
	url = https://github.com/CynicDog/Logs-and-Telemetry--Using-Fluent-Bit.git
[submodule "istio-in-action"]
	path = istio-in-action
	url = https://github.com/CynicDog/book-source-code.git
